@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=latin,cyrillic,latin-ext);
* { margin: 0; padding: 0; -webkit-text-size-adjust: none; }

::selection { background: #ffc000; color: #fff; }

::-moz-selection { background: #ffc000; color: #fff; }

::-webkit-selection { background: #ffc000; color: #fff; }

html, body { min-width: 100%; }

body { font-family: 'PT Sans Narrow', Arial, "Helvetica CY", "Nimbus Sans L", sans-serif; font-weight: normal; font-size: 15px; font-color: #fff; position: relative; min-height: 100%; min-width: 1150px; line-height: 1.4; color: #fff; background: url(../img/bg.jpg) top left no-repeat; -webkit-background-size: cover; -moz-background-size: cover; background-size: cover; background-attachment: fixed; }

a img, fieldset { border: none; }

a { color: #fff; text-decoration: underline; }
a:hover { text-decoration: none; }

h1, h2, h3, h4, h5 { color: #3fc0f0; text-transform: uppercase; font-size: 40px; font-weight: normal; }
