@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=latin,cyrillic,latin-ext);
.header__logo a, .header__socials li { font: 0/0 a; text-shadow: none; color: transparent; }

.nav, .nav .nav__text, .pagination { *zoom: 1; }
.nav:before, .nav .nav__text:before, .pagination:before, .nav:after, .nav .nav__text:after, .pagination:after { content: " "; display: table; }
.nav:after, .nav .nav__text:after, .pagination:after { clear: both; }

* { margin: 0; padding: 0; -webkit-text-size-adjust: none; }

::selection { background: #ffc000; color: #fff; }

::-moz-selection { background: #ffc000; color: #fff; }

::-webkit-selection { background: #ffc000; color: #fff; }

html, body { min-width: 100%; }

body { font-family: 'PT Sans Narrow', Arial, "Helvetica CY", "Nimbus Sans L", sans-serif; font-weight: normal; font-size: 15px; font-color: #fff; position: relative; min-height: 100%; line-height: 1.4; color: #fff; background: url(../img/bg.jpg) top left no-repeat; -webkit-background-size: cover; -moz-background-size: cover; background-size: cover; background-attachment: fixed; }

a img, fieldset { border: none; }

a { color: #fff; text-decoration: underline; }
a:hover { text-decoration: none; }

h1, h2, h3, h4, h5 { color: #3fc0f0; text-transform: uppercase; font-size: 40px; font-weight: normal; }

.out { width: 1100px; margin: auto; }

.header__logo a, .header__socials li { font: 0/0 a; text-shadow: none; color: transparent; }

.nav, .nav .nav__text, .pagination { *zoom: 1; }
.nav:before, .nav .nav__text:before, .pagination:before, .nav:after, .nav .nav__text:after, .pagination:after { content: " "; display: table; }
.nav:after, .nav .nav__text:after, .pagination:after { clear: both; }

/* default layout */
.layout { width: 100%; display: inline-block; }
.layout .l-main { float: left; width: 74%; }
.layout .l-sidebar { float: right; width: 22%; }

.header__logo a, .header__socials li { font: 0/0 a; text-shadow: none; color: transparent; }

.nav, .nav .nav__text, .pagination { *zoom: 1; }
.nav:before, .nav .nav__text:before, .pagination:before, .nav:after, .nav .nav__text:after, .pagination:after { content: " "; display: table; }
.nav:after, .nav .nav__text:after, .pagination:after { clear: both; }

.splat { position: absolute; content: ""; top: 0; left: 0; background: url('../img/icons-sf565e84d8e.png') 0 -500px no-repeat; width: 140px; height: 80px; }

.fish { position: absolute; content: ""; bottom: 0; left: 0; background: url('../img/icons-sf565e84d8e.png') 0 -324px no-repeat; width: 76px; height: 166px; }

.shark { margin: 40px 0; background: url('../img/icons-sf565e84d8e.png') 0 -137px no-repeat; width: 197px; height: 177px; }

.page { margin: 118px 0 55px; }

.header { position: relative; }

.header__logo { height: 34px; margin-bottom: 35px; }
.header__logo a { background: url('../img/icons-sf565e84d8e.png') 0 0 no-repeat; width: 168px; height: 127px; position: absolute; top: -85px; left: -12px; }

.nav li { list-style: none; }
.nav .nav__primary a { text-decoration: none; }
.nav .nav__primary .nav__item { cursor: pointer; font-size: 41px; color: #3fc0f0; text-transform: uppercase; text-decoration: none; }
.nav .nav__secondary { float: left; width: auto; display: inline; margin-left: 40px; line-height: 1.7; }
.nav .nav__secondary:first-child { margin-left: 0; }
.nav .nav__secondary a { font-size: 15px; color: #fff; text-transform: none; text-decoration: underline; }
.nav .nav__secondary a:hover { text-decoration: none; }
.nav .nav__text { text-align: justify; }
.nav .nav__text p { margin-bottom: 0.4em; }

.header__socials { margin-top: 100px; }
.header__socials li { list-style: none; display: inline-block; margin-right: 3px; }

.social { display: block; }

.social_fb { background: url('../img/icons-sf565e84d8e.png') 0 -948px no-repeat; width: 18px; height: 18px; }

.social_tw { background: url('../img/icons-sf565e84d8e.png') 0 -920px no-repeat; width: 18px; height: 18px; }

.social_gp { background: url('../img/icons-sf565e84d8e.png') 0 -892px no-repeat; width: 18px; height: 18px; }

.social_in { background: url('../img/icons-sf565e84d8e.png') 0 -836px no-repeat; width: 18px; height: 18px; }

.social_vk { background: url('../img/icons-sf565e84d8e.png') 0 -864px no-repeat; width: 18px; height: 18px; }

.text p { margin-bottom: 1.7em; }
.text .h1 { color: #3fc0f0; text-transform: uppercase; font-size: 40px; margin-bottom: 0.8em; }
.text .h2 { color: #fff; font-size: 22px; margin-bottom: 0.8em; }

.text__pics { margin-left: -20px; }
.text__pics li { list-style: none; float: left; margin-left: 20px; margin-bottom: 30px; padding: 5px; background-color: #fff; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; }
.text__pics a { display: block; width: 100%; }
.text__pics img { display: block; min-width: 387px; max-height: 190px; }

.pagination { position: relative; margin-top: 75px; }
.pagination a { font-size: 28px; text-transform: uppercase; color: #3fc0f0; text-decoration: none; }
.pagination .pagination__prev { position: relative; float: left; width: 50%; }
.pagination .pagination__prev:before { background: url('../img/icons-sf565e84d8e.png') 0 -976px no-repeat; width: 15px; height: 22px; position: absolute; left: -25px; top: 9px; content: ""; }
.pagination .pagination__next { text-align: right; position: relative; float: right; width: 50%; }
.pagination .pagination__next:after { background: url('../img/icons-sf565e84d8e.png') 0 -1008px no-repeat; width: 15px; height: 22px; position: absolute; right: -25px; top: 9px; content: ""; }

#js-masonry .item { position: relative; float: left; width: 144px; background: #070707; font-size: 11px; line-height: 1.4em; margin: 0 18px 20px 0; -webkit-box-shadow: 6px 10px 13px rgba(0, 0, 0, 0.45); -moz-box-shadow: 6px 10px 13px rgba(0, 0, 0, 0.45); box-shadow: 6px 10px 13px rgba(0, 0, 0, 0.45); -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
#js-masonry .item img { display: block; width: 100%; max-width: 140px; border: 2px solid #3fbfef; }
#js-masonry .item .item__info { display: none; }
#js-masonry .item:hover .item__info { border: 7px solid #fdc31c; display: block; background: rgba(255, 255, 255, 0.7); position: absolute; top: 0; left: 0; bottom: 0; right: 0; color: #000; }
#js-masonry .item:hover .item__info .h1 { font-size: 26px; font-family: 'PT Sans Narrow', Arial, "Helvetica CY", "Nimbus Sans L", sans-serif; font-weight: bold; text-transform: capitalize; color: #000; margin-bottom: 0.2em; }
#js-masonry .item:hover .item__info p { font-size: 15px; }
#js-masonry .item .item__text { position: absolute; bottom: 0; left: 0; padding: 10px; }

.clear { clear: both; overflow: hidden; font-size: 0; }
