@import "lib/base";
/* default layout */
.layout{
	width: 100%;
	display: inline-block;
	.l-main{
		float:left;
		width: 74%;
	}
	.l-sidebar{
		float:right;
		width: 22%;
	}
}



// .l{
// 	width: 100%;
// 	display: inline-block;

// 	.l-col1{
// 		float:left;
// 		width: 20%;
// 	}

// 	.l-col2{
// 		float:right;
// 		width: 70%;
// 	}
// }
