@import "lib/base";
// styles for mainpage
.splat{
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	@include sized-sprite($icons, splat);
}
.fish{
	position: absolute;
	content: "";
	bottom: 0;
	left: 0;
	@include sized-sprite($icons, fish);
}

.shark{
	margin: 40px 0;
	@include sized-sprite($icons, shark);
}

.out{
	@extend %site;
}

//page
.page{
	margin: 118px 0 55px;
}

//header
.header{
	position: relative;
}
	//logo
	.header__logo{
		height: 34px;
		margin-bottom: 35px;
		a{
			@extend %hide-text;
			@include sized-sprite($icons, logo);
			position: absolute;
			top: -85px;
			left: -12px;
		}
	}
	//nav
	.nav{
		li{
			list-style: none;
		}
		.nav__primary{
			a{
				font-size: 41px;
				color: #3fc0f0;
				text-transform: uppercase;
				text-decoration: none;
			}
		}
		.nav__secondary{
			a{
				font-size: 15px;
				color: #fff;
				text-transform: none;
				text-decoration: underline;
				&:hover{
					text-decoration: none;
				}
			}
		}
	}
	//socials
	.header__socials{
		margin-top: 100px;
		li{
			list-style: none;
			display: inline-block;
			@extend %hide-text;
			margin-right: 3px;
		}
	}
		.social{display: block;}
		.social_fb{@include sized-sprite($icons, fb_ico);}
		.social_tw{@include sized-sprite($icons, tw_ico);}
		.social_gp{@include sized-sprite($icons, gp_ico);}
		.social_in{@include sized-sprite($icons, in_ico);}
		.social_vk{@include sized-sprite($icons, vk_ico);}

//content
.content{}

	//text
	.text{
		p{margin-bottom: 1.7em;}
	}
		.text__title{
			color: #3fc0f0;
			text-transform: uppercase;
			font-size: 40px;
			margin-bottom: 0.8em;
		}
		.text__subtitle{
			color: #fff;
			font-size: 22px;
			margin-bottom: 0.8em;
		}
		.text__pics{
			margin-left: -20px;
			li{
				list-style: none;
				float: left;
				margin-left: 20px;
				margin-bottom: 30px;
				padding: 5px;
				background-color: #fff;
				@include border-radius(5px);
				//@include box-shadow(inset 0 0 13px rgba(0,0,0,.39));
			}
			a{
				display: block;
				width: 100%;
			}
			img{
				display: block;
				min-width: 387px;
				max-height: 190px;
			}
		}
		.text__singlepic{
			@include transition-duration(0.3s);
			&:hover{
				@include transform(rotate(-1deg) scale(1.1) translate3d( 0, 0, 0));
			}
			&:nth-child(2n+1):hover{
				@include transform(rotate(1deg) scale(1.1) translate3d( 0, 0, 0));
			}
		}

		//pagination
		.pagination{
			position: relative;
			margin-top: 75px;
			@extend %clr;
			a{
				font-size: 28px;
				text-transform: uppercase;
				color: #3fc0f0;
				text-decoration: none;
			}
			.pagination__prev{
				position: relative;
				float: left;
				width: 50%;
				&:before{
					@include sized-sprite($icons, prev);
					position: absolute;
					left: -25px;
					top: 9px;
					content: "";
				}
			}
			.pagination__next{
				text-align: right;
				position: relative;
				float: right;
				width: 50%;
				&:after{
					@include sized-sprite($icons, next);
					position: absolute;
					right: -25px;
					top: 9px;
					content: "";
				}
			}
		}
	//masonry
	#container{
		.item{
			float: left;
			width: 140px;
			border: 2px solid #3fbfef;
			background: #070707;
			font-size: 11px;
			line-height: 1.4em;
			margin: 0 18px 20px 0;
			@include box-shadow(6px 10px 13px rgba(0,0,0,.45));
			@include transition-duration(0.5s);
			img{
				display: block;
				width: 100%;
				max-width: 140px;
			}
		}
	}

//clr
.clear{
	clear: both;
	overflow: hidden;
	font-size: 0;
}